ActualizadorCliente/ActualizadorCliente/Service References/ServActualizador/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Modulo" nillable="true" type="tns:Modulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModulo" nillable="true" type="tns:ArrayOfModulo" />
  <xs:complexType name="Modulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxVersion" type="xs:float" />
      <xs:element minOccurs="0" name="NombreModulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modulo" nillable="true" type="tns:Modulo" />
</xs:schema>