ActualizadorCliente/ActualizadorCliente/Service References/ServActualizador/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9191/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" />
  <xs:import schemaLocation="http://localhost:9191/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetModulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" minOccurs="0" name="GetModulosResult" nillable="true" type="q1:ArrayOfModulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombresArchivosNuevos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" minOccurs="0" name="modulo" nillable="true" type="q2:Modulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNombresArchivosNuevosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNombresArchivosNuevosResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicioActualizacion" minOccurs="0" name="modulo" nillable="true" type="q4:Modulo" />
        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArchivoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>